{% extends 'base.html.twig' %}

{% block title %}New Library{% endblock %}

{% block body %}
    <h1>New Library</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('libraries_list') }}">Back to libraries list</a>
{% endblock %}